#archive-container {
  .ul-archives {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 600px;

    li {
      line-height: 2;

      &.li-year {

      }

      &.li-post {
        .span-post-date {
          display: inline-block;
          padding: 0 25px;
          width: 100px;
          text-align: right;
          vertical-align: top;
        }

        .a-post-link {
          display: inline-block;
          padding: 0 25px 0 24px;
          border-left: 1px solid $global-hint-text-color;
          width: 400px;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: $global-main-width) {
  #archive-container {
    .ul-archives {
      width: initial;

      li {
        &.li-year {
          text-align: center;
        }

        &.li-post {
          .span-post-date {
            display: block;
            padding: initial;
            width: initial;
            text-align: center;
            vertical-align: initial;
          }

          .a-post-link {
            display: block;
            padding: initial;
            border: initial;
            width: initial;
            text-align: center;
          }
        }
      }
    }
  }
}
