#archive-container {
  .ul-archives {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 600px;

    li {
      line-height: 2;

      &.li-year {

      }

      &.li-post {
        .span-post-date {
          display: inline-block;
          padding: 0 24px 0 25px;
          border-right: 1px solid $global-hint-text-color;
          width: 100px;
          text-align: right;
        }

        .a-post-link {
          display: inline-block;
          padding: 0 25px;
          width: 400px;
          text-align: left;
          vertical-align: bottom;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            text-overflow: inherit;
            overflow: visible;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $global-main-width) {
  #archive-container {
    .ul-archives {
      width: initial;

      li {
        &.li-year {
          text-align: center;
        }

        &.li-post {
          .span-post-date {
            display: none;
          }

          .a-post-link {
            display: block;
            padding: initial;
            width: initial;
            text-align: center;
          }
        }
      }
    }
  }
}
