#index-container {
  .ul-posts {
    list-style-type: none;

    li {
      border-bottom: 1px solid $global-hint-text-color;

      article {
        margin: 25px 0;

        .h1-post-title {
          a {
            color: inherit;

            &:hover {
              @extend a:hover;
            }

            &:active {
              @extend a:active;
            }
          }
        }

        .span-post-date {
          color: $global-secondary-text-color;
        }

        .post-excerpt {

        }

        .a-read-more {

        }
      }
    }
  }
}
