$global-main-width: 980px !default;

body {
  border-top: 2px solid $global-theme-primary-color;
  min-width: $global-main-width;
  color: $global-primary-text-color;
  font-family: $global-font-family;
  font-size: $global-font-size;
  line-height: $global-line-height;
  background-color: $global-white-color;
}

#main {
  margin: 0 auto;
  width: $global-main-width;

  header {
    margin: 25px;
    line-height: 2;

    .title-container {
      a {
        margin: 0 25px;
        color: inherit;
        font-size: 36px;
        font-weight: bold;
      }

      span {
        font-size: 24px;
      }
    }

    ul.ul-nav {
      margin: 0;
      padding: 0;
      font-size: 18px;
      text-align: right;

      li {
        display: inline-block;
        margin: 0 5px;

        a {
          display: block;
          border-bottom: 2px solid transparent;
          width: 100px;
          color: inherit;
          text-align: center;

          &.active, &:hover {
            border-bottom: 2px solid $global-theme-primary-color;
          }
        }
      }
    }
  }

  > div {
    margin: 25px;
  }

  footer {
    margin: 25px;
    line-height: 2;
    text-align: center;

    ul.ul-socials {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 5px;

        a {
          display: block;
          width: 36px;
          color: inherit;
          font-size: 24px;
          text-align: center;

          &:hover {
            @extend a:hover;
          }

          &:active {
            @extend a:active;
          }
        }
      }
    }

    .copyright {
      p {
        margin: 0;
      }
    }
  }
}
