#post-container {
  article {
    margin: 25px 0;

    .h1-post-title {

    }

    .span-post-date {
      color: $global-secondary-text-color;
    }

    .post-content {
      h1, h2 {
        .headerlink {
          display: none;
          margin-left: -32px;
          width: 32px;
          text-align: center;

          &::before {
            content: '\e660';
            font-family: iconfont;
            font-size: 24px;
            font-weight: normal;
            vertical-align: middle;
          }
        }

        &:hover .headerlink {
          display: inline-block;
        }
      }
    }
  }
}
