$global-theme-light-color: #F48FB1 !default;

$global-theme-primary-color: #E91E63 !default;

$global-theme-dark-color: #AD1457 !default;

$global-black-color: rgb(33, 33, 33) !default;

$global-white-color: rgb(250, 250, 250) !default;

$global-primary-text-color: rgba(33, 33, 33, .87) !default;

$global-secondary-text-color: rgba(33, 33, 33, .54) !default;

$global-hint-text-color: rgba(33, 33, 33, .38) !default;

$global-split-line-color: rgba(33, 33, 33, .12) !default;

$global-font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$global-monospace-font-family: Consolas, Monaco, Menlo, Consolas, monospace !default;

$global-font-size: 100% !default;

$global-line-height: 1.5 !default;

::selection {
  color: $global-white-color;
  background-color: $global-theme-light-color;
}

::-moz-selection {
  color: $global-white-color;
  background-color: $global-theme-light-color;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: $global-theme-primary-color;
  text-decoration: none;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;

  &:hover {
    color: $global-theme-light-color;
  }

  &:active {
    color: $global-theme-dark-color;
  }
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@import "_partial/layout";
@import "_partial/index";
@import "_partial/archive";
@import "_partial/post";
