extends partial/layout.pug

block container
    section#index-container
        ul.ul-posts
            - page.posts.each(function(post){
                li
                    article
                        h1.h1-post-title
                            a(href=url_for(post.path))
                                = post.title
                        span.span-post-date
                            = date(post.date, 'll')
                        .post-excerpt
                            != post.excerpt
                        a.a-read-full-text(href=url_for(post.path))
                            = __('read-full-text')
            - })
        if page.prev || page.next
            .all-posts
                p
                    a(href=url_for(theme.menus.archives))
                        = __('all-posts')
