header
    .title-container
        a(href=url_for('/'))
            = config.title
        span
            = config.subtitle
    ul.ul-nav
        each value, key in theme.menus
            li
                case true
                    when key === 'home' && is_home()
                    when key === 'archives' && is_archive()
                    when key === 'categories' && is_category()
                    when key === 'tags' && is_tag()
                    when key === 'about' && page.layout === 'about'
                        a.active(href=url_for(value))
                            = __(key)
                    default
                        a(href=url_for(value))
                            = __(key)
