footer
    if theme.socials
    ul.ul-socials
        each value, key in theme.socials
            li
                a(class="iconfont icon-" + key href=url_for(value) target="_blank" rel="noopener")
    .copyright
        -
            var currentDate = new Date();
            var year = currentDate.getFullYear();
        p #{year} &copy; #{config.author}
        p
            a(href="http://beian.miit.gov.cn/" target="_blank" rel="noopener")
                = '粤 ICP 备 20007303 号'
